.container {
    width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
}

h1, h2 {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
}

button.btn {
    background: #2563eb;
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.split {
    display: flex;
    gap: 20px;
}

.form-side {
    width: 45%;
}

.preview-side {
    width: 55%;
    border-left: 1px solid #ddd;
}

iframe {
    width: 100%;
    height: 90vh;
    border: none;
    background: white;
}
body {
    font-family: "Arial", sans-serif;
}

.rtl {
    font-family: "Cairo", "Tahoma", sans-serif;
}
.block {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.block button {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
}


