/* اتجاه النص */
.rtl {
    direction: rtl;
    text-align: right;
}

/* قلب الـ flex */
.rtl .split {
    flex-direction: row-reverse;
}

/* الفورم */
.rtl label {
    text-align: right;
}

/* القوائم */
.rtl ul {
    padding-right: 20px;
    padding-left: 0;
}

/* العناوين */
.rtl h1, 
.rtl h2 {
    text-align: right;
}

/* الجداول (classic template) */
.rtl table {
    direction: rtl;
}
